.ratingOverview {
  border-radius: 5px;
  border: 1px solid var(--gray-lighter);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  padding-top: 10px;
  padding-bottom: 20px;
}
